<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="display: flex; justify-content: center; width: 100wh">
      Your name is: <%= locals.randomeName %> <%= locals.randomeName2 %>
    </h1>

    <form
      action="/submit"
      method="post"
      style="display: flex; justify-content: center; width: 100wh"
    >
      <input type="submit" value="generate name" />
    </form>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
