#HTML{
    background-image: url(pic11.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
}

#HTU{
    background-image: url(pic22.avif);
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
}