* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.logo {
  width: 60px;
}
.live ,label,.text0, a ,a:hover,.text-right,.icon,.footer-icon:hover,.footer-p:hover,.card-text {
  cursor: pointer;
}
.livespan:hover {
  background-color: red;
}
select {
  width: fit-content;
  background: transparent;
}
.search {
  background: transparent;
  border: 1px solid gray;
  height: 40px;
}
span {
  border: 0.5px solid red;
  font-size: 12px;
  letter-spacing: 2px;
}
.main {
  background-image: url(background.webp);
  height: 100vh;  
}
.describtion-1 {
  font-size: 4.5em;
}
.describtion-2 {
  font-size: 15px;
}
.btn {
  font-size: 22px;
  font-weight: 900;
  background-color: #d93636;
}
.btn:hover {
  background-color: red;
}
.p1 {
  font-size: 50px;
}
.pic-featured {
  max-width: 85rem;
}
img {
  width: 100%;
}
/* ما بدي استخدم البوتسراب عشان ما اكتب الكلاسات بكل تاغ  */
.text0 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  height: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
}
.custom-img {
  width: 100px;
  height: 90px;
  object-fit: cover;
}
.card-title {
  font-size: 16px;
}
.iframe0 {
  width: 100%;
  padding-bottom: 56.25%; /* نسبة 16:9 للفيديو */
  overflow: hidden;
}
.iframe0 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
a {/* عشان اختصر و اخلي كل اللينكات اسود و none decoration  */
  text-decoration: none;
  color: #000000;
}
.card-img {
  height: 400px;
  object-fit: cover;
}
.card-text {
  bottom: 20px;
  left: 20px;
  font-size: 30px;
}
.arrow-icon {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 4px;
  font-size: 16px;
  margin-left: 6px;
}
.section5 {
  margin-bottom: 50px;
}
.section6 {
  background-image: url(pic5.jpg);
  height: 100vh;
}
/* image of the day */
.img-uni {
  width: 550px;
}
.icon {
  color: rgb(28, 103, 227);
  font-size: 30px;
  padding: 20px;
}
.section-of-pics {
  min-width: 75px;
}
.img-group {
  width: 200px;
}
.section7 {
  background-image: url(stars-background.webp);
  height: 100vh;
  overflow: hidden;
}
.text1 {
  font-size: 60px;
}
label {
  font-size: 20px;
  border-bottom: 1px dashed white;
}
.card-img2 {
  border-radius: 0;
}
.footerr {
  height: fit-content;
  margin-top: 30px;
}
.footer-logo {
  margin-left: 10px;
  margin-top: 20px;
}
.footer-icon {
  font-size: 30px;
}
.footer-icon:hover {
  color: gray;
  transform: scale(1.1);
  transition: transform 0.3s;
}
.footer-p:hover {
  width: fit-content;
  border-bottom: 1px dashed white; 
}