* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* لما اعمل الاوفرفلو السايد بار يختفي نصه */
  /* overflow: hidden; */
}
header {
  border: 1px solid black;
  background: #F3F3F3;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sidebar {
  width: 60px;
  background-color: #F3F3F3;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list {
  flex: 1;
  background-color: #FEFEFE;
  border-right: 1px solid #ccc;
  overflow: scroll;
  height: 100vh;
}

.chats {
  flex: 3;
  background-color: #ffffff;
  border: 1px solid #1fa65a;
  overflow: auto;
  height: 100vh;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  flex-wrap: wrap;
  width: 10px;
}

.icon {
  color: #1fa65a;
  font-size: 20px;
}
.icon1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chatList {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.head {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

h5 {
  background: #1fa65a;
  height: 15px;
  width: 15px;
  text-align: center;
  border-radius: 15px;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pic {
  display: flex;
  flex-direction: column;
}
input {
  border-radius: 10px;
  width: 100%;
  height: 30px;
}

.pic1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed;
    background: white;
    width: 71%; */
}
.left-side {
  display: flex;
  gap: 10px;
  align-items: center;
}

.right-side {
  display: flex;
  gap: 10px;
  align-items: center;
}

.message {
  border: 1px solid black;
  border-radius: 9px;
}

.sender-1 {
  display: flex;
  justify-content: end;
  background: #f3f3f3;
  width: fit-content;
}

.sender-2 {
  display: flex;
  /* لما عملته fit content بطل يوخد end / start */

  justify-self: start;
  background: #D9FDD3;
  width: fit-content;
}
.chat-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-image: url("pic4.jpg");
  overflow: auto;
}

.type {
  height: 40px;
  border-radius: 2px;
}

.foot {
  display: flex;
  gap: 5px;
  /* background: white;
    width: 71%; */
}
.image {
  border: 1px solid black;
}
