<<<<<<< HEAD
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  border: 1px solid black;
  background: #f3f3f3;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sidebar {
  width: 60px;
  background-color: #f3f3f3;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list {
  flex: 1;
  background-color: #fefefe;
  border-right: 1px solid #ccc;
  overflow: scroll;
  height: 100vh;
}

.chats {
  flex: 3;
  background-color: #ffffff;
  border: 1px solid #1fa65a;
  height: 100vh;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  flex-wrap: wrap;
  width: 10px;
}

.icon {
  color: #1fa65a;
  font-size: 20px;
  cursor: pointer;
}
.icon1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.icon3 {
  color: #282828;
  font-size: 30px;
  cursor: pointer;
}

.chatList {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.head {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

h5 {
  background: #1fa65a;
  height: 15px;
  width: 15px;
  text-align: center;
  border-radius: 15px;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pic {
  display: flex;
  flex-direction: column;
}
input {
  border-radius: 10px;
  width: 100%;
  height: 30px;
}

.pic1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side {
  display: flex;
  gap: 10px;
  align-items: center;
}

.right-side {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sender-1 {
  border: 1px solid green;
  border-radius: 15px;
  background: #f3f3f3;
  width: fit-content;
  padding: 5px;
  margin: 5px;
}

.sender-2 {
  /* لما عملته fit content بطل يوخد end / start */
  border: 1px solid green;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  background: #d9fdd3;
  width: fit-content;
}
.chat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  background-image: url("pic4.jpg");
}

.chat-box {
  display: block;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  height: 79vh;
  width: 100%;
  overflow: auto;
}

.image {
  border: 1px solid rgb(183, 181, 181);
  border-radius: 50%;
  width: 45px;
  height: auto;
  margin-left: 7px;
}

.message-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(226, 224, 224);
  width: 100%;
  height: 12vh;
}

.textarea {
  border: 2px solid rgb(161, 161, 161);
  border-radius: 20px;
  width: 60vw;
  height: 8vh;
}
.left {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}

.send-button {
  border: 1px solid #1fa65a;
  border-radius: 30px;
  width: 70px;
  font-size: large;
  background-color: #1fa65a;
  padding: 5px;
}

.send-button:hover {
  border: 1px solid #0a5329;
  border-radius: 30px;
  width: 70px;
  font-size: large;
  background-color: #0a5329;
  padding: 5px;
}
=======
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  border: 1px solid black;
  background: #f3f3f3;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sidebar {
  width: 60px;
  background-color: #f3f3f3;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list {
  flex: 1;
  background-color: #fefefe;
  border-right: 1px solid #ccc;
  overflow: scroll;
  height: 100vh;
}

.chats {
  flex: 3;
  background-color: #ffffff;
  border: 1px solid #1fa65a;
  height: 100vh;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  flex-wrap: wrap;
  width: 10px;
}

.icon {
  color: #1fa65a;
  font-size: 20px;
  cursor: pointer;
}
.icon1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.icon3 {
  color: #282828;
  font-size: 30px;
  cursor: pointer;
}

.chatList {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.head {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

h5 {
  background: #1fa65a;
  height: 15px;
  width: 15px;
  text-align: center;
  border-radius: 15px;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pic {
  display: flex;
  flex-direction: column;
}
input {
  border-radius: 10px;
  width: 100%;
  height: 30px;
}

.pic1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side {
  display: flex;
  gap: 10px;
  align-items: center;
}

.right-side {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sender-1 {
  border: 1px solid green;
  border-radius: 15px;
  background: #f3f3f3;
  width: fit-content;
  padding: 5px;
  margin: 5px;
}

.sender-2 {
  /* لما عملته fit content بطل يوخد end / start */
  border: 1px solid green;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  background: #d9fdd3;
  width: fit-content;
}
.chat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  background-image: url("pic4.jpg");
}

.chat-box {
  display: block;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  height: 79vh;
  width: 100%;
  overflow: auto;
}

.image {
  border: 1px solid rgb(183, 181, 181);
  border-radius: 50%;
  width: 45px;
  height: auto;
  margin-left: 7px;
}

.message-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(226, 224, 224);
  width: 100%;
  height: 12vh;
}

.textarea {
  border: 2px solid rgb(161, 161, 161);
  border-radius: 20px;
  width: 60vw;
  height: 8vh;
}
.left {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}

.send-button {
  border: 1px solid #1fa65a;
  border-radius: 30px;
  width: 70px;
  font-size: large;
  background-color: #1fa65a;
  padding: 5px;
}

.send-button:hover {
  border: 1px solid #0a5329;
  border-radius: 30px;
  width: 70px;
  font-size: large;
  background-color: #0a5329;
  padding: 5px;
}
>>>>>>> 0797193089ece1cd7609a235ca308db2e6229c2b
